$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
input{
  font-weight: 400,
  
}
.appstorebutton {
  height: 80px;
  width: 185px;
  position: relative;
  overflow: hidden;
}
 
.titleHeader{
  margin-bottom: 0px;
}
.appstorebutton a {
  color: white;
  text-decoration: none;
}
.image{
    width: 180px; /* you can use % */
    height: auto;
}
 
.appstorebutton p {
  font: 30px/1 Helvetica, Arial, sans-serif;
  text-align: center;
  color: white;
  margin: 4px 0 0 0px;
  width: 180px;
}
 
.androidMargin{
  margin-left: 20px;
}
.root {
  text-align: center;
}
ul {
    width: 40%;
    margin: auto;

}
td{
  text-align: center; 
}
th{
  text-align: center; 
}
.spacing{
  margin-bottom: 300px;
}